.navbar{
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 15px 110px 15px 110px;
}

.Logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

ul{
    list-style: none;
    display: flex;
    margin: 0;
    gap: 10px;
    margin-left: auto;
    align-items: center;
    color: #E5E7EB;
}
.Intro{
    background-color:#1F2937;
    color: #F9FAF8;
    display: flex;
    padding: 80px 175px 80px 175px;
}
.Intro img {
    margin-left: auto;
    height: 169px;
    width: auto;
    border-radius: 37px;
}
.first_heading {
    font-size: 48px;
    margin: 0;
}

button{
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 20px;
    padding: 6px 20px 6px 20px;
    border-radius: 11px;
    border: none;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}
.cards {
    display: flex;
    padding: 35px 175px 35px 175px;
    gap: 35px;
    justify-content: center;
}
.box{
    height: 140px;
    border-radius: 10px;
    width: auto;
    border: 2px solid #3882F6;
}
.text {
    text-align: center;
}
.mid{
    font-weight: bold;
    font-size: 25px;
}
.quote-box{
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    padding: 35px 175px 35px 175px;
    display: flex;
    flex-direction: column
}
.quote{
    font-style: italic;
    margin-bottom: 0;
}
.designation {
    font-weight: bold;
    font-size: 22px;
    margin-left: auto;
    margin-top: 14px;
}
.signup{
    background-color: #3882F6;
    display: flex;
    color: white;
    justify-content: center;
    gap: 104px;
    margin: 65px 270px;
    padding: 20px;
    border-radius: 8px;
    align-items: center;
}
.signup button {
    border: 2px solid white;
}
.first {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
}
.second {
    margin-top: 0;
}

footer {
    background-color: #1F2937;
    color: white;
    padding: 22px;
}